{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container2">
    <h1>Producto</h1>
    <form action="{% url 'actualizarrec' pro.id %}" method="post">
        {% csrf_token %}
        <label for="nombre">Nombre Producto</label><br><br>
        <input type="text" name="nombre" value="{{pro.nombre}}"><br><br>
        <label for="descripcion">Descripcion</label><br><br>
        <input type="text" name="descripcion" value="{{pro.descripcion}}"><br><br>
        <label for="valor">Valor</label><br><br>
        <input type="text" name="valor" value="{{pro.valor}}"><br><br>
        <label for="fotografia" style="color: white;">Fotografía</label><br><br>
        <input type="file" name="fotografia"><br><br>
        <button type="submit" id="new1">Actualizar</button>
    </form>

</div>
{% endblock %}      