{% extends 'base.html' %}
{% load static %}
{% block content %}
{% for producto in productos %}


<div class="container gallery-container">
        <p class="page-description text-center"></p>
<div class="tz-gallery">
    <div class="row">
        <div class="col-sm-10 col-md-2">
                <h3>{{ producto.nombre }}</h3>
                <p>{{ producto.descripcion }}</p>
                <p>Precio: ${{ producto.precio }}</p>
                <p><img src="{{ producto.fotografia.url }}" alt="Fotografía del producto"></p>
                <button>Comprar</button>
        </div> 
</div> 
</div>
</div>

{% endfor %}
{% endblock %}
