{% extends 'base.html' %}

{% load static %}

{% block content %}
{% load crispy_forms_tags %}

<div class="container gallery-container">
    <h1>INGRESA</h1>
        <p class="page-description text-center"></p>

<div class="tz-gallery">

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="{% static 'imagenes/cafeteria1.jpg' %}">
                <img src="{% static 'imagenes/Registrar.jpg' %}" alt="cafeteria1">
            </a>
            <h2 style="color: white;">Llena tus datos </h2>
            <h5 style="color:white">Recuerda revisar cada item que tenga correctamente ingresados los datos</h5>
        </div>
<div class="col-sm-4 col-md-6" >
 
        <div class="card mx-auto" style="width: 30rem; background-color:gray;">
            <div class="card-body">
            <form method="post">
                {% csrf_token %}
              <input type="text" name="username" placeholder="Nombre de Usuario">
              <br>
              <input type="password" name="password" placeholder="Contraseña">
              <br>    
              {{ form | crispy }}
              <a href="{% url 'Sexta'%}" class="card-link" style="color: white;">Registrarse</a>
    
              <button class="btn btn-sm btn-primary float-end" type="submit" value="Iniciar sesión">Iniciar Sesion</button>
          
            </div>
          </div>
           
    </form>


    {% endblock %}