.contenedor {
    background: linear-gradient(gray,white);
    color: #35373a;
    min-height: 80vh;
    border-radius: 20px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.06);
}


.foto {
    background: linear-gradient(black, pink);
    color: #35373a;
    min-height: 20vh;
    border-radius: 10px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.06);
}