.contenedor1 {
    width: 1100px;
    background: linear-gradient(to right, white, gray);
    height: 100vh;
    display: flex;
    justify-content: space-between;
    margin: 8%;
    position: relative;
  }
  
  .contenedor2 {
    width: 40%;
    background: linear-gradient(to right, gray, pink);
    color: pink;
    padding: 20px;
    position: absolute;
    display: flex;
    margin:auto
    
  }
  
  .contenedor3 {
    width: 60%;
    background-color: pink;
    color: black;
    padding: 20px;
  }
  
  .contenedor3 form {
    display: flex;
    flex-direction: column;
  }
  
  .contenedor3 label {
    margin-bottom: 5px;
  }
  
  .contenedor3 input {
    margin-bottom: 10px;
  }
  
  .contenedor3 button {
    margin-top: 10px;
  }
  
  .contenedor3 .card-link {
    margin-left: 5px;
  }
  